# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^(.*)/$ /$1 [L,R]

RewriteRule ^categorie/(.*)$   index.php?controller=categorie&categorie=$1 [nc,qsa]
RewriteRule ^produit/(.*)$   index.php?controller=produit&produit=$1 [nc]
RewriteRule ^account/(.*)$   index.php?controller=account&action=$1 [nc]
RewriteRule ^account$   index.php?controller=account [nc]
RewriteRule ^panier/(.*)$   index.php?controller=panier&action=$1 [nc]
RewriteRule ^panier$   index.php?controller=panier [nc]
RewriteRule ^search$   index.php?controller=index&action=search [nc,qsa]
RewriteRule ^admin/(.*)$   index.php?controller=admin&action=$1 [nc,qsa]
RewriteRule ^admin$   index.php?controller=admin [nc,qsa]

RewriteRule ^api/(.*)$ index.php?controller=ajax&action=$1 [nc,qsa]