$primary: #262B2F;
$primaryLight: #3d4450;
$secondary: #f0f0f0;
$myOrange: #F93;
$hoverNavItem: #909295;
$hoverNavItemBorder: #515559;

@import "../../others/bootstrap-5.1.0/scss/functions";
@import "../../others/bootstrap-5.1.0/scss/variables";
@import "../../others/bootstrap-5.1.0/scss/mixins";

$theme-colors: map-merge($theme-colors, (
        "jct-orange": $myOrange,
        "blue": #3399FF,
        "grey": #D2D2D2
));

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "../../others/bootstrap-5.1.0/scss/bootstrap";

